<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <form action="">
    <h1><%= title %></h1>
    <p>Nama : <input></p>
    <p>Email : <input></p>
  </form>
  </body>
</html>
